@import '../sass/variables';

.card{
    width: 285px;
    background: $card-bg;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
}

.card img{
    width: 236px;
    height: 236px;
    background-color: $bg-color;
}

.card-id{
    background-color: $card-bg;
    color: $light-grey;
}

.card-name{
    margin-top: 7px;
    color: $text-color;
}

.card-types{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 3px;
}