@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');
@import './sass/variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Silkscreen", sans-serif;
}

body{
    background-color: $bg-color;

}
.container{
    max-width: 375px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.pixel-corners {
    clip-path: polygon(
      0px calc(100% - 8px),
      4px calc(100% - 8px),
      4px calc(100% - 4px),
      8px calc(100% - 4px),
      8px 100%,
      calc(100% - 8px) 100%,
      calc(100% - 8px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 4px),
      calc(100% - 4px) calc(100% - 8px),
      100% calc(100% - 8px),
      100% 8px,
      calc(100% - 4px) 8px,
      calc(100% - 4px) 4px,
      calc(100% - 8px) 4px,
      calc(100% - 8px) 0px,
      8px 0px,
      8px 4px,
      4px 4px,
      4px 8px,
      0px 8px
    );
  }

@media (min-width: 1024px){
    .container{
        max-width: 964px;
    }
    
}

@media (min-width: 1440px){
    .container{
        max-width: 1320px;
    }
    
}